@using ApexCharts

<MudStack Row="true" StretchItems="StretchItems.End">
    
    @if (!_chartMounted)
    {
        <div Style="width: @ChartDiameter; height: 1px;"></div>
    }
    
    <ApexChart @ref="_chart" TItem="Transaction" Options="@_options" Width="@ChartDiameter" Height="@ChartDiameter" OnMounted="@OnChartMounted">
        <ApexPointSeries TItem="Transaction" Items="@Budget.Expenses"
                         SeriesType="SeriesType.Pie"
                         XValue="@(x => x.Category.Name)"
                         YAggregate="@(x => x.Sum(y => y.Amount))"
                         OrderBy="x => x.Y!"
                         DataPointMutator="SetColors"
                         ShowDataLabels="true"/>
    </ApexChart>
    
    <MudTable T="TotalExpensesByCategory" Items="@_totalExpensesByCategory" OnRowMouseEnter="@OnTableRowMouseEnter"
              Elevation="0" Hover="true" Dense="true" Bordered="true" @onmouseleave="OnTableMouseLeave">
        <HeaderContent>
            <MudTh>Category</MudTh>
            <MudTh>Total Amount</MudTh>
            <MudTh>% of Expenses</MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd>
                <MudStack Row="true" AlignItems="AlignItems.Center">
                    <div style="background-color: @context.Category.Color; width: 1rem; height: 1rem;" class="rounded"></div>
                    <span>@context.Category.Name</span>
                </MudStack>
            </MudTd>
            <MudTd>@context.TotalAmount.ToString("C")</MudTd>
            <MudTd>@context.PercentOfExpenses.ToString("P0")</MudTd>
        </RowTemplate>
    </MudTable>

</MudStack>

@code {
    [Parameter] public required Budget Budget { get; set; }
    [Parameter] public string ChartDiameter { get; set; } = "310px";
    
    private IEnumerable<TotalExpensesByCategory> _totalExpensesByCategory = [];

    private ApexChart<Transaction>? _chart;
    private readonly ApexChartOptions<Transaction> _options = new();
    private bool _chartMounted = false;
    
    protected override void OnInitialized()
    {
        _totalExpensesByCategory = Budget.Expenses
            .GroupBy(expense => expense.Category.Name)
            .Select(group => new TotalExpensesByCategory(
                group.First().Category,
                group.Sum(x => x.Amount),
                group.Sum(x => x.Amount) / Budget.TotalExpenses))
            .OrderBy(x => x.PercentOfExpenses);

        _options.Legend = new Legend
        {
            Show = false
        };
        _options.States = new States
        {
            Active = new StatesActive
            {
                Filter = new StatesFilter
                {
                    Type = StatesFilterType.none
                }
            }
        };
        _options.DataLabels = new DataLabels
        {
            Formatter = @"function(value, opts) {
            return Math.round(Number(value)) + '%';}"
        };
        _options.Tooltip = new Tooltip
        {
            Y = new TooltipY
            {
                Formatter = @"function(value, opts) {
                if (value === undefined) {return '';}
                return value.toLocaleString('en-US', {style: 'currency',currency: 'USD',});}"
            }
        };
    }

    private async Task OnTableRowMouseEnter(TableRowHoverEventArgs<TotalExpensesByCategory> eventArgs)
    {
        await _chart!.HighlightSeriesAsync(eventArgs.Item!.Category.Name);
    }

    private async Task OnTableMouseLeave()
    {
        await _chart!.ResetSeriesAsync(true, false);
    }

    private void OnChartMounted()
    {
        _chartMounted = true;
        StateHasChanged();
    }
    
    protected override async Task OnParametersSetAsync()
    {
        if (_chart is not null) 
            await _chart.UpdateOptionsAsync(false, true, true);
    }
    
    private static void SetColors(DataPoint<Transaction> point)
    {
        point.FillColor = point.Items.First().Category.Color;
    }
    
    private record TotalExpensesByCategory(
        Category Category, decimal TotalAmount, decimal PercentOfExpenses);
}
