@inherits LayoutComponentBase

<MudThemeProvider Theme="@_theme" IsDarkMode="@_darkMode"/>
<MudPopoverProvider/>
<MudDialogProvider/>
<MudSnackbarProvider/>

<MudLayout>
    <MudStack Row="true" Class="h-100" StretchItems="StretchItems.End" Spacing="0">
        
        <MudPaper Square="true" Elevation="0" Class="sidebar">
            <MudIcon Icon="@Icons.Material.TwoTone.SupervisorAccount" Size="Size.Large" Color="Color.Secondary" Class="logo"/>
            <MudNavMenu Bordered="true">
                <NavMenuItem Href="/budgets" Icon="@Icons.Material.Rounded.AttachMoney" Text="Budgets"/>
                <NavMenuItem Href="/categories" Icon="@Icons.Material.Rounded.Category" Text="Categories"/>
                <NavMenuItem Href="/fixed-budget" Icon="@Icons.Material.Rounded.PushPin" Text="Fixed"/>
                <NavMenuItem Href="/analytics" Icon="@Icons.Material.Rounded.CollectionsBookmark" Text="Analytics"/>
            </MudNavMenu>
            <MudToggleIconButton @bind-Toggled="_darkMode" Icon="@Icons.Material.Rounded.DarkMode" ToggledIcon="@Icons.Material.Rounded.LightMode" Class="opacity-75 mt-auto mb-2"/>
        </MudPaper>
        
        <div class="pa-4">
            <ErrorBoundary @ref="@_errorBoundary">
                <ChildContent>
                    @Body
                </ChildContent>
                <ErrorContent>
                    <Error Exception="@context" ErrorBoundary="@_errorBoundary"/>
                </ErrorContent>
            </ErrorBoundary>
        </div>
        
    </MudStack>
</MudLayout>

@code 
{
    private bool _darkMode;
    private ErrorBoundary? _errorBoundary;

    private readonly MudTheme _theme = new()
    {
        Typography = new Typography()
        {
            H4 = new H4Typography()
            {
                FontSize = "1.85rem"
            },
            Caption = new CaptionTypography()
            {
                FontSize = ".7rem"
            }
        },
        PaletteLight = new PaletteLight
        {
            Primary = Colors.Blue.Darken3,
            Secondary = Colors.Blue.Darken4,
            Success = Colors.Green.Default,
            Error = Colors.Red.Default,
            DrawerBackground = Colors.Gray.Lighten4
        },
        PaletteDark = new PaletteDark
        {
            Primary = Colors.Blue.Darken1,
            Secondary = Colors.Blue.Darken2,
            Surface = "#32333D"
        }
    };
}